{
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "babel-plugin-react-css-modules",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ], 
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
  ],
  "presets": [[
    "@babel/preset-env", {
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react"]
}