.player-wrapper {
  width: 200px;
  height: 320px;
  margin-right: 8px;
  position: relative;
  /* background-color: red; */
}

.player-top-menu {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.player-author-avatar {
  width: 24px;
  height: 24px;
  border-radius: 25px;
}

.player-author-username {
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-left: 4px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.player-reaction-container {
  position: absolute;
  display: flex;
  bottom: 18px;
  right: 14px;
  align-items: center;
}

.player-reaction-icon {
  width: 40px;
  height: 16px;
}

.player-reaction-counter {
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-left: 6px;
}

.player-description-container{
  position: absolute;
  bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.test {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.player-description {
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  width: 200px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: break-spaces;
  max-width: 190px;
}

.player-date {
  color: white;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}

.react-player {
  border-radius: 22px;
  overflow: hidden;
}

video {
  object-fit: fill;
}

.App {
  margin-top: 40px;
}

.menu-item {
  /* padding: 0 40px; */
  /* margin: 5px 10px; */
  /* user-select: none;
  cursor: pointer;
  border: none; */
}
.menu-item-wrapper.active {
  /* border: 1px blue solid; */
}
.menu-item.active {
  /* border: 1px green solid;/ */
}

.menu-wrapper--inner {
  transform: rotate3d(0px,0px,0px);
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}